<web-app>
    <display-name>Simple Servlet Demo Application</display-name>
    <servlet>
        <servlet-name>MyServlet</servlet-name>
        <display-name>MyServlet</display-name>
        <servlet-class>com.ita.u1.hwservlets.servlet.MyServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>MyServlet</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>
</web-app>